body {
  font-family: 'Open Sans', sans-serif;
  display: block;
}

.header {
  display: flex;
  margin: auto;
  width: 50%;
  text-align: center;
}

.headers {
  margin-top: 5px;
}

.skills {
  margin-top: 10px;
}

/* navbar styles */
.navBar {
  position: fixed;
  width: 99%;
  top: 0;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: grey;
}

.navList > li {
  padding: 5px 10px 5px 10px;
}

/* end navbar styles */

.skillsLists {
  display: flex;
  justify-content: center;
}

main {
  width: 80%;
  margin: auto;
}

.projects > h2 {
  text-align: center;
}

.projDesc {
  padding: 10px;
}

.project {
  display: flex;
  flex-direction: column;
}

.projectImage {
  width: 450px;
  height: 450px;
} 

.showProject1 {
  flex-direction: row-reverse;
  display: flex;
}

.showProject2 {
  flex-direction: row;
  display: flex;
}

.showProject3 {
  flex-direction: row-reverse;
  display: flex;
}

.contactInfo {
  border-top: 1px solid lightgray;
  margin-top: 7px;
}